<template id="editReviewTemplate">
    <section class="writeReview">
            <form action="/api/reservations/comments/{{commentId}}" method="PUT" enctype="multipart/form-data" name="reviewForm">
                <article class="ratingSection">
                    <div class="ratingStar">
                        {{#each star}}
                            <i class="fn fn-star2 {{this}}"></i>
                        {{/each}}
                        <input type="number" name="score" value="{{score}}" readonly="readonly" style="color:#000">
                    </div>
                </article>
                <article class="writeComment">
                    <textarea name="comment" rows="15" minlength="5" maxlength="400">{{exComment}}</textarea>
                </article>
                <article class="postImage">
                    <div class="imageLetterCount">
                        <input type="file" name="image" id="imageUpload" />
                        <label for="imageUpload">
                            <i class='fn fn-image1'></i> 사진 추가
                        </label>
                        <p class="commentCount" style="padding:0">
                            <span>{{exCommentLength}}</span>/400 (최소 5자 이상)
                        </p>
                    </div>
                    <div class="thumbnailImage"><i class="fn fn-cross1"></i></div>
                </article>
                <article class="submitSection" style="background-color:#fff;display:flex">
                    <input type="submit" name="change" value="수정">
                    <input type="button" name="cancel" value="취소">
                </article>
            </form>
    </section>
</template>
