@charset "UTF-8";

:root {
    --main-color: #1EC800;
    --grey-color: #E9ECEF;
    --text-bright-color: #fff;
    --text-dark-color: #000;
    --text-grey-color: #808080;
    --text-highlight-color: #f00;
    --breakpoint-width: 414px;
}

@font-face {
    font-family: "Nanum Gothic Regular";
    src: url(../font/NanumGothicRegular.woff);
}

@font-face {
    font-family: "Nanum Gothic Bold";
    src: url(../font/NanumGothicBold.woff);
}

@font-face{
    font-family: "Naver Icons";
    src: url(../font/Naver-Icons.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Naver booking Icons";
    src: url(../font/Naver-booking-Icons.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}


body {
    margin: 0;
    font-family: "Nanum Gothic Regular","맑은 고딕",
        "Apple SD Gothic Neo",sans-serif;
    font-size: 14px;
}

.fn {
    display: inline-block;
    height: 1em
}

.fn:before {
    font-family: "Naver Icons";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fn-alarm1:before{
    content:"\EA07"
}

.fn-alarm2:before{
    content:"\EA08"
}

.fn-backward1:before {
    content: "\EA12"
}

.fn-backward2:before {
    content: "\EA13"
}

.fn-call1:before {
    content: "\EA25"
}

.fn-call2:before {
    content: "\EA26"
}

.fn-present1:before{
    content: "\EA2C"
}

.fn-present2:before{
    content: "\EA2D"
}

.fn-down2:before {
    content: "\EA3D"
}

.fn-forward1:before {
    content: "\EA44"
}

.fn-forward2:before{
    content: "\EA45"
}

.fn-home1:before {
    content: "\EA4A"
}

.fn-car-find1:before{
    content: "\EA64"
}

.fn-car-find2:before{
    content: "\EA65"
}

.fn-nbooking-calender1:before{
    content: "\EA66"
}

.fn-nbooking-calender2:before {
    content: "\EA67"
}

.fn-path-find1:before {
    content: "\EA74"
}

.fn-path-find2:before {
    content: "\EA75"
}

.fn-pin1:before{
    content:"\EA7A"
}

.fn-pin2:before {
    content: "\EA7B"
}

.fn-pin3:before{
    content:"\EA7C"
}

.fn-pin4:before{
    content:"\EA7D"
}

.fn-share1:before {
    content: "\EA96"
}

.fn-star1:before{
    content:"\EAA2"
}

.fn-star2:before{
    content:"\EAA3"
}

.fn-up1:before {
    content: "\EABF"
}

.fn-up2:before {
    content: "\EAC0"
}

.fn-navigation2:before {
    content: "\EA65"
}

.fn-mail1:before {
    content: "\EA58"
}

.fn-write2:before {
	content: "\EADB"
}

.fn-image1:before {
	content: "\EA4C"
}


header.GNBMain .container {
    display: flex;
    position: fixed;
    top: 0;
    background-color: #1EC800;
    background-color: var(--main-color);
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 414px;
    max-width: var(--breakpoint-width);
    z-index:1
}

header.GNBMain img {
    display: inline-block;
    width: 17.5vw;
    padding: 2.5vw;
}

header.GNBMain h2 {
    font-family: "Nanum Gothic Bold";
    font-size: 3.5vw;
    padding-right: 2.5vw;
    margin: 0px;
    color: #fff;
    color: var(--text-bright-color);
}

@media (min-width: 414px){
    header.GNBMain .container {
        margin: 0 auto;
        left: calc(calc(100% - 414px) / 2);
    }
    header.GNBMain img {
        width: 72.45px;
        padding: 10.35px;
    }
    header.GNBMain h2 {
        font-size: 14.49px;
        padding-right: 10.35px;
    }
}

.promotion {
    color: #fff;
    color: var(--text-bright-color);
}

.promotion .container {
    width: 100vw;
    height: 100vw;
    max-width: 414px; 
    max-width: var(--breakpoint-width);
    max-height: 414px;
    max-height: var(--breakpoint-width);
    margin-top: 12vw;
    overflow: hidden;
}

.promotion ul {
    width: 100vw;
    height: 100%;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    transition: transform 1s;
}


.promotion img {
    width: 100vw;
    height: 100vw;
}

@media (min-width: 414px){
    .promotion .container {
        margin: 49.88px auto 0 auto;
    }
    .promotion ul {
        width: 414px;
    }
    .promotion img {
        width: 414px;
        height: 414px;
    }

}

.category .container {
    max-width: 414px;
    max-width: var(--breakpoint-width);
}


.category ul {
    display:flex;
    margin: 0;
    padding: 0;
    list-style:none;
    text-align: center;
}

.category li {
    font-family: "Nanum Gothic Bold";
    flex: auto;
    padding: 7.5px 0px;
}

.category li:hover{
    cursor: pointer;
}

.category .selected{
    color: #1EC800;
    color: var(--main-color);
    border-bottom-color: #1EC800;
    border-bottom-color: var(--main-color);
    border-bottom-style: solid;
    border-bottom-width: 0.25rem;
}

@media (min-width:414px){
    .category .container {
        margin: 0 auto;
    }
}

.totalCount .container {
    max-width: 414px;
    max-width: var(--breakpoint-width);
}

.totalCount p {
    text-align: center;
    color: #808080;
    color: var(--text-grey-color);
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
}

.totalCount p strong {
    color: #f00;
    color: var(--text-highlight-color);
}

@media (min-width:414px){
    .totalCount .container {
        margin: 0 auto;
    }
}

.itemList .container {
    max-width: 414px;
    display: flex;
    background-color: #E9ECEF;
    background-color: var(--grey-color);
}

.itemList .leftContainer {
    flex:1;
    margin: 10px 6px 3px 6px;
}

.itemList .rightContainer {
    flex:1;
    margin: 10px 6px 3px 0px;
}

.itemList article {
  background-color: #fff;
  color: #000;
  color: var(--text-dark-color);
  margin-bottom: 10px;
}

.itemList a {
    text-decoration: none;
    color: inherit;
}

.itemList .photo {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: calc((100vw - 18px) / 2);
    height: calc((100vw - 18px) / 2);
    max-width: 198px;
    max-height: 198px;
    border-bottom-color: #E9ECEF;
    border-bottom-color: var(--grey-color);
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.itemList .head {
    border-bottom-color: #E9ECEF;
    border-bottom-color: var(--grey-color);
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.itemList h1 {
    font-family: "Nanum Gothic Bold";
    margin:0;
    font-size: 14px;
    padding: 7px;
}

.itemList h2 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    padding: 0px 7px 7px 7px;
}

.itemList p {
    margin: 0;
    color: #808080;
    color: var(--text-grey-color);
    font-size: 14px;
    padding: 7px;
}

.itemList span.moreInfo {
    display: none;
}

@media (min-width:414px){
    .itemList .container {
        margin: 0 auto;
    }
}

.helping .container {
    max-width: 414px;
    background-color: #E9ECEF;
    background-color: var(--grey-color);
}

.helping .more{
    background-color: #fff;
    text-align: center;
    height: 35px;
    line-height: 35px;
    margin: 0 6px;
    padding: 0;
}

.helping .more:hover {
    cursor: pointer;
}

.helping a {
    display: block;
    font-size: 13px;
    font-family: sans-serif;
    text-align: center;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #000;
}

@media(min-width:414px){
    .helping .container {
        margin: 0 auto;
    }
}

footer .container {
    max-width: 414px;
    background-color: #E9ECEF;
    background-color: var(--grey-color);
}

footer .caution {
    margin: 0;
    text-align: center;
    padding: 0 10px;
    opacity: 0.5;
    font-size: 10px;
}

footer .copyright {
    display: block;
    text-align: center;
    padding: 15px 0;
    opacity: 0.5;
    font-size: 10px;
}

@media(min-width: 414px){
    footer .container {
        margin: 0 auto;
    }
}


header.GNBDetail .container {
    display: flex;
    position: absolute;
    top: 0;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 414px;
    max-width: var(--breakpoint-width);
    z-index: 1;
}

header.GNBDetail img {
    display: inline-block;
    width: 17.5vw;
    padding: 2.5vw;
}

header.GNBDetail h2 {
    font-family: "Nanum Gothic Bold";
    font-size: 3.5vw;
    padding-right: 2.5vw;
    margin: 0px;
    color: #fff;
    color: var(--text-bright-color);
}

@media (min-width: 414px){
    header.GNBDetail .container {
        margin: 0 auto;
        left: calc(calc(100% - 414px) / 2);
    }
    header.GNBDetail img {
        width: 72.45px;
        padding: 10.35px;
    }
    header.GNBDetail h2 {
        font-size: 14.49px;
        padding-right: 10.35px;
    }
}

.titleImage {
    color: #fff;
    color: var(--text-bright-color);
}

.titleImage .container {
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
    width: 100vw;
    height: 100vw;
    max-width: 414px; 
    max-width: var(--breakpoint-width);
    max-height: 414px;
    max-height: var(--breakpoint-width);
    overflow: hidden;
}

.titleImage ul {
    width: 100vw;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    transition: transform 0.5s;
    list-style: none;
}

.titleImage img {
    position:relative;
    width: 100vw;
    height: 100vw;
    z-index:-1;
}

@media (min-width: 414px){
    .titleImage .container {
        left: calc(calc(100% - 414px) / 2);
        margin: 0 auto;
    }
    .titleImage ul {
        width: 414px;
    }
    .titleImage img {
        width: 414px;
        height: 414px;
    }
}

.titleText .container {
    position:relative;
    width: 100vw;
    max-width: 414px;
    max-width: var(--breakpoint-width);
    height: 100vw;
    max-height: 414px;
    display: flex;
    flex-direction: column;
}

.titleText .topSection{
    flex: 3;
    text-align:center;
}

.titleText .topSection span {
    line-height: calc((100vw / 10) * 3);
    font-size: 16px;
    color: #C0C0C0;
    background-color: #000;
    border-radius: 45%;
    background: rgba(0,0,0,0.5);
}

.titleText .topSection span.bright {
    color: #fff;
    color: var(--text-bright-color);
    background-color: transparent;
}

.titleText .middleSection{
    flex: 4;
    display: flex;
    align-items: center;
}

.titleText .leftSection {
    flex: 1;
    font-size: 35px;
    line-height: 80px;
    color: #fff;
    color: var(--text-bright-color);
    text-align: center;
}

.titleText .leftSection i:hover{
    cursor:pointer;
}

.titleText .centerSection {
    flex: 8;
}

.titleText .rightSection {
    flex: 1;
    font-size: 35px;
    line-height: 80px;
    color: #fff;
    color: var(--text-bright-color);
    text-align: center;
}

.titleText .rightSection i:hover{
    cursor:pointer;
}

.titleText .bottomSection{
    flex:3;
}

.titleText h1 {
    font-family: "Nanum Gothic Bold";
    font-size: 35px;
    line-height: 80px;
    /*text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;*/
    padding: 0;
    margin: 0;
    color: #fff;
    color: var(--text-bright-color);
    text-align: center;
}

@media (min-width:414px){
    .titleText .container {
        margin: 0 auto;
    }

    .titleText .topSection span{
        line-height: 124.2px;
    }
}



.productDescription .container {
    width: 100vw;
    max-width: 412px;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px 1px 1px 1px;    
}

.productDescription p {
    margin: 0;
    line-height: 20px;
    padding: 20px;
}

.productDescription button {
    font-family: inherit;
    font-size: 14px;
    width: 100vw;
    max-width: 412px;
    line-height: 40px;
    background-color: #F3F5F6;
    border-style: none;
    border-top-color: #C0C0C0;
    border-top-style: solid;
    border-top-width: 1px;    
}

@media (min-width:414px){
    .productDescription .container {
        margin: 0 auto;
    }
}

.event .container {
    background-color: #FDFCED;
    width: 100vw;
    max-width: 372px;
    padding: 10px 20px;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 0 1px 1px 1px;    
}

.event h2 {
    font-family: "Nanum Gothic Bold";
    font-size: 1rem;
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom-color: #C0C0C0;
    border-bottom-style: solid;
    border-bottom-width: 1px;    
}

.event p {
    margin: 0;
    line-height: 25px;
    font-weight: 500;
    padding: 10px 0 0 0;
}

@media (min-width:414px){
    .event .container {
        margin: 0 auto;
    }
}

.reservation .container {
    width: 100vw;
    max-width: 414px;
    max-width: var(--breakpoint-width);
}

.reservation button {
    background-color: #1EC800;
    background-color: var(--main-color);
    color: #fff;
    color: var(--text-bright-color);
    font-family: "Nanum Gothic Bold";
    font-size: 14px;
    width: 100vw;
    max-width: 414px;
    max-width: var(--breakpoint-width);
    line-height: 40px;
    border-width: 0;
}

@media (min-width:414px){
    .reservation .container {
        margin: 0 auto;
    }
}

.comment .outerContainer {
    width: 100vw;
    max-width: 414px;
    max-width: var(--breakpoint-width);
}

.comment .innerContainer {
    padding: 10px;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
}

.comment .commentSummary {
    padding-bottom: 14px;
    border-bottom-color: #C0C0C0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.comment .commentSummary h2 {
    font-family: "Nanum Gothic Bold";
    font-size: 16px;
    padding-bottom: 10px;
    margin: 0;
}

.comment .commentSummary .getStar {
    color: #f00;
}

.comment .commentSummary .getRatioStar::before{
    background:linear-gradient(to Right,#f00 70% ,#808080 30%);
    background-clip:text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.comment .commentSummary .notGetStar {
    color: #808080;
    color: var(--text-grey-color);
}

.comment .summaryContainer {
    display: flex;
    justify-content: space-between;
}

.comment .summaryContainer span {
    display: inline-block;
}

.comment .starCount {
    padding-right: 0.5em;
}

.comment .averageScore {
    padding-right: 0.5em;
    font-weight: bold;
}

.comment .maxScore {
    opacity: 0.5;
    font-weight: bold;
}

.comment .commentCount {
    color: #1EC800;
    color: var(--main-color);
    padding-right: 0.3em;
}

.comment .enrollText {
    opacity: 0.5;
}

.comment .eachComment {
    padding: 14px 0px;
    border-bottom-color: #C0C0C0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.comment .eachComment .eachContainer {
    display: flex;
}

.comment .eachComment .leftContainer {
    flex: 7;
}

.comment .eachComment .rightContainer {
    flex: 3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.comment .eachComment .rightContainer img {
    width: 100%;
}

.comment .eachComment h2 {
    font-family: "Nanum Gothic Bold";
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.comment .eachComment p {
    margin:0;
    padding: 10px 0;
}

.comment .eachComment span {
    display: inline-block;
}

.comment .eachComment .score{
    font-weight:bold;
    padding-right: 0.75em;
}

.comment .eachComment .email {
    padding: 0 0.75em;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 0 1px;    
    opacity: 0.8;
}

.comment .eachComment .visitDate{
    padding-left: 0.75em;
    opacity: 0.5;
}

.comment aside p {
    padding: 15px 0 5px 0;
    font-size: 0.8rem;
    opacity: 0.7;
    margin: 0;
}

.comment a {
    text-decoration: none;
    display: block;
    font-family: inherit;
    color: #000;
    color: var(--text-dark-color);
    font-size: 14px;
    text-align: center;
    width: 100vw;
    max-width: 412px;
    line-height: 40px;
    background-color: #F3F5F6;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 0 1px 1px 1px;    
}

@media(min-width:414px){
    .comment .outerContainer {
        margin: 0 auto;
    }
}


.detailDescription .container {
    width: 100vw;
    max-width: 412px;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 0  1px 1px 1px;    
    overflow: hidden;
}

.detailDescription ul {
    margin: 0;
    padding: 0 75px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.detailDescription li {
    font-family: "Nanum Gothic Bold";
    padding: 7.5px 0px;
}

.detailDescription li:hover{
    cursor: pointer;
}

.detailDescription .selected{
    color: #1EC800;
    color: var(--main-color);
    border-bottom-color: #1EC800;
    border-bottom-color: var(--main-color);
    border-bottom-style: solid;
    border-bottom-width: 0.2rem;
}

.detailDescription .productInfo {
}

.detailDescription .productInfo h2 {
    font-family: "Nanum Gothic Bold";
    padding-left: 7px;
    margin: 14px 0px 14px 0px;
    font-size: 16px;
}

.detailDescription .productInfo p {
    margin: 0;
    line-height: 20px;
    padding: 0 20px 0px 20px;
}

.detailDescription .locInfo {
    display:none;
}

.detailDescription .locInfo img {
    padding: 20px 10px 10px 10px;
    width: auto;
    height: auto;
    max-width: 393px;
}

.detailDescription .locInfo h2 {
    font-family: "Nanum Gothic Bold";
    font-size: 16px;
    margin: 0;
    padding: 0 0 0 10px;
}

.detailDescription .locInfo .locText{
    display: table;
    padding: 10px 0 0 10px;
}

.detailDescription .locInfo .tableRow{
    display: table-row;
    margin: 10px 0;
}

.detailDescription .locInfo p {
    display: table-cell;
}

.detailDescription .locInfo p.icon {
    padding: 0 6px 0 0;
}

.detailDescription .locInfo p.text{
    padding: 0 0 6px 0;
}

.detailDescription .locInfo span.greyText {
    color: #808080;
    color: var(--text-grey-color);
}

.detailDescription .locInfo .buttonContainer{
    padding: 20px;
}

.detailDescription .buttonContainer button {
    width:50%;
    font-family: inherit;
    font-size: 14px;
    line-height: 40px;
    background-color: #F3F5F6;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;    
}

.detailDescription .buttonContainer button.navigation{
    border-left-style:none;
}

@media (min-width:414px){
    .detailDescription .container {
        margin: 0 auto;
    }
}

.reviewHeader .container{
    padding: 20px 10px;
    width: 100vw;
    max-width: 392px;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px 1px 10px 1px;
    display: flex;
    font-size: 18px;
}

.reviewHeader .leftSection{
    flex: 1;
}

.reviewHeader .centerSection{
    flex: 8;
}

.reviewHeader .rightSection{
    flex: 1;
}

.reviewHeader h1{
    font-size: 18px;
    font-family: "Nanum Gothic Bold";
    margin: 0;
    padding: 0;
}

@media(min-width:414px){
    .reviewHeader .container {
        margin: 0 auto;
    }
}

